Repository alex-kim-dev/fake-user-data: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit client/global.d.ts, stylelint --fix, prettier --write

feat: add fake user data generation api
  .eslintrc.yml
  .lintstagedrc.yml
  README.md
  package-lock.json
  package.json
  server/app.ts
  server/lib/FakeUserGenerator.ts
  server/types.ts
Due: eslint --fix, prettier --write

feat: add generated users table
  .lintstagedrc.yml
  README.md
  client/App.tsx
  client/api.ts
  client/components/UsersTable.tsx
  package-lock.json
  package.json
  server/app.ts
  server/lib/FakeUserGenerator.ts
  server/types.ts
Due: eslint --fix, tsc-files --noEmit client/global.d.ts, prettier --write

feat: complete controls
  .eslintrc.yml
  client/App.tsx
  client/api.ts
  client/components/UsersTable.tsx
  server/app.ts
  server/lib/FakeUserGenerator.ts
  shared/constants.ts
  shared/types.ts
  tsconfig.json
  tsconfig.node.json
Due: eslint --fix, tsc-files --noEmit client/global.d.ts, prettier --write

feat: get fake users with specified parameters
  client/App.tsx
  client/api.ts
  server/app.ts
  shared/types.ts
Due: eslint --fix, tsc-files --noEmit client/global.d.ts

feat: update url parameters
  README.md
  client/App.tsx
  client/utils.ts
Due: eslint --fix, tsc-files --noEmit client/global.d.ts, prettier --write

feat: add infinite scrolling
  README.md
  client/App.tsx
  client/components/UsersTable.tsx
  package-lock.json
  package.json
  shared/types.ts
Due: eslint --fix, tsc-files --noEmit client/global.d.ts, prettier --write

fix: use seeded prng to generate some address parts
  package-lock.json
  package.json
  server/lib/FakeUserGenerator.ts
  server/lib/SeededRandom.ts
Due: eslint --fix, prettier --write

feat: add mistakes generation
  README.md
  server/app.ts
  server/lib/MistakesGenerator.ts
  shared/constants.ts
Due: eslint --fix, prettier --write

feat: use different sets of characters for addding mistakes
  server/app.ts
  server/lib/MistakesGenerator.ts
  shared/constants.ts
Due: eslint --fix

refactor: send page number to the server
  client/App.tsx
  client/api.ts
  server/app.ts
  shared/constants.ts
  shared/types.ts
Due: eslint --fix, tsc-files --noEmit client/global.d.ts

fix: remove index generation on the server
  server/lib/FakeUserGenerator.ts
Due: eslint --fix

feat: add ability to export data to a csv file
  client/App.tsx
  client/api.ts
  client/components/ExportButton.tsx
  client/utils.ts
  package-lock.json
  package.json
  server/app.ts
Due: eslint --fix, tsc-files --noEmit client/global.d.ts, prettier --write

fix: top bar elements placement
  client/App.tsx
Due: eslint --fix, tsc-files --noEmit client/global.d.ts

docs: update readme todo list
  README.md
Due: prettier --write

docs: add a video demo to readme
  README.md
Due: prettier --write

fix: linting and type errors after changing configs
  api/eslint.config.js
  api/src/app.ts
  api/src/lib/FakeUserGenerator.ts
  api/src/lib/MistakesGenerator.ts
  shared/types.ts
  web/eslint.config.js
  web/src/App.tsx
  web/src/api.ts
Due: none

fix(web): change favicon
  web/index.html
  web/src/assets/favicon.svg
  web/src/assets/person-lines-fill.svg
Due: prettier --write

chore(api): sort imports
  api/eslint.config.js
  api/package.json
  api/src/app.ts
  api/src/lib/FakeUserGenerator.ts
  api/src/lib/MistakesGenerator.ts
  api/src/lib/SeededRandom.ts
  pnpm-lock.yaml
Due: prettier --write

refactor(api): vaildate query with zod
  api/package.json
  api/src/app.ts
  api/src/middleware.ts
  api/src/schema.ts
  api/src/types.ts
  pnpm-lock.yaml
Due: prettier --write

refactor: rename constants
  api/src/app.ts
  api/src/schema.ts
  shared/constants.ts
  web/src/App.tsx
  web/src/utils.ts
Due: none

refactor(api): clean up MistakesGenerator
  api/src/app.ts
  api/src/lib/MistakesGenerator.ts
  shared/types.ts
Due: none

refactor(api): move api specific constants out from shared
  api/src/constants.ts
  api/src/lib/FakeUserGenerator.ts
  api/src/lib/MistakesGenerator.ts
  api/src/types.ts
  shared/constants.ts
Due: none

refactor: clean up shared types & schema
  api/src/app.ts
  api/src/middleware.ts
  api/src/types.ts
  pnpm-lock.yaml
  shared/index.ts
  shared/package.json
  shared/schema.ts
  shared/types.ts
  web/src/App.tsx
  web/src/api.ts
  web/src/components/ExportButton.tsx
  web/src/types.ts
Due: prettier --write

refactor(web): use zod schema for validating query
  api/src/middleware.ts
  shared/schema.ts
  web/src/App.tsx
  web/src/api.ts
  web/src/components/ExportButton.tsx
  web/src/types.ts
  web/src/utils.ts
Due: none

fix(web): app state not initializing from the url search params
  web/src/App.tsx
Due: none

fix(api): bring back ability to apply non-integer number of errors
  api/src/lib/MistakesGenerator.ts
Due: none

fix(api): wrong range of ints for random mistake
  api/src/constants.ts
  api/src/lib/MistakesGenerator.ts
Due: none

fix(web): add retry btn to the loading failed alert
  web/src/App.tsx
Due: none

fix(web): export btn changes width when loading
  web/src/components/ExportButton.tsx
Due: none

fix(web): remove error state from the export btn
  web/src/components/ExportButton.tsx
Due: none

fix(api): wrong number of mistakes
  api/src/constants.ts
Due: none

feat(web): add dark mode support
  web/src/App.tsx
  web/src/main.scss
Due: stylelint --fix

feat(web): add controls popover for small screens
  pnpm-lock.yaml
  web/package.json
  web/src/App.tsx
  web/src/main.scss
Due: stylelint --fix, prettier --write

feat(web): make app bar sticky
  web/src/App.tsx
Due: none

refactor(web): use media query hook for detecting the color mode
  web/src/App.tsx
Due: none

fix(web): table cells sizes when the text is too long
  web/src/App.tsx
  web/src/components/UsersTable.tsx
  web/src/main.scss
Due: stylelint --fix

docs: update readme
  README.md
Due: prettier --write

fix(web): add min table cell width
  web/src/main.scss
Due: stylelint --fix

Path conditions:
  eslint --fix: (any of: client/**/*.ts{,x}) or (any of: server/**/*.ts{,x})
  tsc-files --noEmit client/global.d.ts: any of: client/**/*.ts{,x}
  stylelint --fix: any of: *.scss
  prettier --write: any of: *.{html,json,yml,md}
